*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center{
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  flex-wrap: wrap;
}


.main{
  padding: 40px 0;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
  min-height: 400px;

}

.menu{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu h3{
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.menu a {
  color: #16A2CA;
  text-decoration: none;
  border: 2px solid #16A2CA;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.form{
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

}


.form h2{
  color: #fff;
}

.itens__form{
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.form input{
  width: 40%;
  height: 30px;
  margin: 8px 0;
}

.itens__form [type=text]{
  padding-left: 10px;
}

.form input[type=submit]{
    border-radius: 40px 20px;
    height: 40px;
    background-color: #16A2CA;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.conteudo__single{
  width: 50%;
  padding: 8px 30px;
}


@media screen and (max-width: 768px) {
      .itens__form [type=text]{
        width: 100%;
      }

      .conteudo__single{
        width: 100%;
      }
}

